{% extends "base.html" %}

{% block page_content %}
<div id="content-container">
    <div id="bar-chart" class="content-container-child">
        <img id="home-visual" src="{% url 'plots' %}"></img>
    </div>

    <div id="welcome-para" class="content-container-child">
        Welcome
    </div>

    <div id="navigation-buttons" class="content-container-child">
        <button class="btn btn-primary btn-block">Manufacturer deep dive</button>
        <button class="btn btn-primary btn-block">Car price deep dive</button>
        <button class="btn btn-primary btn-block">Add rows</button>
        
    </div>

    <div id="summary-stats" class="content-container-child">
        Summary statistics
    </div>
</div>


{% endblock page_content %}