{% extends "base.html" %}

{% block page_content %}
<div id="home-page-container">
    <div class="content-container" id="content-container-left">
        <div id="bar-chart" class="content-container-child">
            <img id="home-visual" src="{% url 'plots' %}"></img>
        </div>

        <div id="navigation-buttons" class="content-container-child">
            <a class="btn btn-primary btn-block nav-button" href="{% url 'trends' %}">View Trend</a>
            <a class="btn btn-primary btn-block nav-button" href="{% url 'manufacturers' %}">Manufacturer deep dive</a>
         </div>
    </div>

    <div class="content-container" id="content-container-right">
        <div id="welcome-para" class="content-container-child">
                Welcome
        </div>

        <div id="summary-stats" class="content-container-child">
            Summary statistics
        </div>
    </div>
</div>



{% endblock page_content %}