html{
    height:100%;
    width:100%;
}

body{
    width:inherit;
    height:inherit;
    /* border:turquoise 6px solid; */
    margin:0;
}

#base-container{
    height:inherit;
    display:flex;
    flex-direction: column;
}


/* HOME PAGE */

#home-page-container{
    display: flex;
    height:inherit;
}

.content-container{
    flex:1;
    display:grid;
    /* grid-template-columns: 1fr 1fr; */
    /* border:solid purple; */
}

.content-container-child{
    /* border:solid blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin:5px;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#nav-bar-container{
    display:flex;
    justify-content: center;
    width:100%;
    height:10%;
    /* border: solid green; */
}
/*Four main containers on home page*/
/*bar-chart*/
#bar-chart{
}

#home-visual{
    width: 100%;
    height:100%;
    padding:10px;
    /* border:solid darkmagenta; */
}

/*welcome-para*/
#welcome-para{}

#test-form{
    /* border:solid purple; */
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#test-form div{
    
    margin:0 !important;
}

/*navigation-buttons*/
#navigation-buttons{
    flex-direction: column;
}

#navigation-buttons a{
    margin:5px;
    width:90%;
}

.nav-button a{
    text-decoration: none;
    color:white;
    height:100%;
    width: 100%;
}

/*summary-stats*/
#summary-stats{
   
}


/*  MESSAGES */
.messages{
    position:fixed;
    top:5px;
    right:5px;
}

.message{
    padding:10px;
    margin:5px;
    color:black;
    background-color: white;
    border-radius: 10px;
    width:200px;
    height:min-content;
    font-style: italic;
    text-align: left;
    animation: cssAnimation 3s forwards;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.message > .success{
    background-color: lightgreen;
}

.message > .error{
    background-color: lightcoral;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}